<?xml version="1.0"?>
<config>
    <modules>
        <OrganicInternet_ProtxDirect>
            <version>0.2.0</version>
        </OrganicInternet_ProtxDirect>
    </modules>
    <global>
        <rewrite>
            <organicinternet_protxdirect_checkout_onepage>
                <from><![CDATA[#^/checkout/onepage/saveOrder#]]></from>
                <to>/oiprotxonepage/onepage/saveOrder</to>
            </organicinternet_protxdirect_checkout_onepage>
        </rewrite>
        <rewrite>
            <organicinternet_protxdirect_checkout_multishipping>
                <from><![CDATA[#^/checkout/multishipping/overviewPost#]]></from>
                <to>/oiprotxonepage/multishipping/overviewPost</to>
            </organicinternet_protxdirect_checkout_multishipping>
        </rewrite>
        <blocks>
            <organicinternet_protxdirect>
                <class>OrganicInternet_ProtxDirect_Block</class>
            </organicinternet_protxdirect>
            <payment>
                <rewrite>
                    <ccform>OrganicInternet_ProtxDirect_Block_Form_Cc</ccform>
                </rewrite>
            </payment>
        </blocks>
        <models>
            <organicinternet_protxdirect>
                <class>OrganicInternet_ProtxDirect_Model</class>
                <resourceModel>organicinternet_protxdirect_order_payment_entity</resourceModel>
            </organicinternet_protxdirect>
            <organicinternet_protxdirect_order_payment_entity>
                <class>Mage_Sales_Model_Entity</class>
                <entities>
                    <order_payment>
                        <table>sales_order_entity</table>
                    </order_payment>
                </entities>
            </organicinternet_protxdirect_order_payment_entity>
            <payment>
                <rewrite>
                    <config>OrganicInternet_ProtxDirect_Model_Config</config>
                </rewrite>
            </payment>
            <organicinternet_protxdirect_mysql4>
                <class>OrganicInternet_ProtxDirect_Model_Mysql4</class>
            </organicinternet_protxdirect_mysql4>
        </models>
        <resources>
            <organicinternet_protxdirect_setup>
                <setup>
                    <module>OrganicInternet_ProtxDirect</module>
                    <class>OrganicInternet_ProtxDirect_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </organicinternet_protxdirect_setup>
            <organicinternet_protxdirect_write>
                <use>core_write</use>
            </organicinternet_protxdirect_write>
            <organicinternet_protxdirect_read>
                <use>core_read</use>
            </organicinternet_protxdirect_read>
        </resources>
        <helpers>
            <organicinternet_protxdirect>
                <class>OrganicInternet_ProtxDirect_Helper</class>
            </organicinternet_protxdirect>
        </helpers>
        <payment>
            <cc_protxdirect>
                <types>
                    <VISA>
                        <code>VISA</code>
                        <name>Visa</name>
                    </VISA>
                    <MC>
                        <code>MC</code>
                        <name>MasterCard</name>
                    </MC>
                    <DELTA>
                        <code>DELTA</code>
                        <name>Visa Debit</name>
                    </DELTA>
                    <SOLO>
                        <code>SOLO</code>
                        <name>Solo</name>
                    </SOLO>
                    <MAESTRO>
                        <code>MAESTRO</code>
                        <name>Maestro</name>
                    </MAESTRO>
                    <AMEX>
                        <code>AMEX</code>
                        <name>American Express</name>
                    </AMEX>
                    <UKE>
                        <code>UKE</code>
                        <name>Visa Electron</name>
                    </UKE>
                </types>
            </cc_protxdirect>
        </payment>
    </global>
    <frontend>
        <routers>
            <oiprotxdirect>
                <use>standard</use>
                <args>
                    <module>OrganicInternet_ProtxDirect</module>
                    <frontName>oiprotxdirect</frontName>
                </args>
            </oiprotxdirect>
            <oiprotxonepage>
                <use>standard</use>
                <args>
                    <module>OrganicInternet_ProtxDirect</module>
                    <frontName>oiprotxonepage</frontName>
                </args>
            </oiprotxonepage>
            <oiprotxmultishipping>
                <use>standard</use>
                <args>
                    <module>OrganicInternet_ProtxDirect</module>
                    <frontName>oiprotxmultishipping</frontName>
                </args>
            </oiprotxmultishipping>
        </routers>
        <translate>
            <modules>
                <OrganicInternet_ProtxDirect>
                    <files>
                        <default>OrganicInternet_ProtxDirect.csv</default>
                    </files>
                </OrganicInternet_ProtxDirect>
            </modules>
        </translate>
        <layout>
            <updates>
                <organicinternet_protxdirect>
                    <file>organicinternet_protxdirect.xml</file>
                </organicinternet_protxdirect>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <organicinternet_protxdirect>
                                            <title>Protx Direct Config</title>
                                        </organicinternet_protxdirect>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <payment>
            <organicinternet_protxdirect>
                <active>0</active>
                <order_status>1</order_status>
                <title>Credit or Debit Card (Protx)</title>
                <model>organicinternet_protxdirect/protxdirect</model>
                <payment_action>authorize_capture</payment_action>
                <avscv2>0</avscv2>
                <dddsecure>0</dddsecure>
            </organicinternet_protxdirect>
        </payment>
    </default>
</config>
